


html {
	margin: 0px;
	 
    min-height: 100%;
}

body{
	background-color: #F2ECE7;
	 margin: 0 0 100px; /* bottom = footer height */
}
/*img{

	width: 100%;
	height: 100%;
}*/
.navbar{
	background-color: #FAA20E;
	height: 480px;
	padding-top: 27px;
	background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
	background:linear-gradient(#FAA20E, #E7833B);
	z-index: 0;
}
/*.navbarhide{
	display:none; 
}*/
.logo{
	height: 105px;
}

.navbar .logo{
	z-index: 99;
}
.search{
	font-size: 54px;
	color: #fff;
	z-index: 99;
}
#close{
	font-size: 54px;
	color: #fff;
	z-index: 99;
}

.welcometext{
	padding-top: 100px;
	text-align: center;
	color: #fff;
	z-index: 1;
}
footer{
	height: 305px;
	background-color: #FAA20E;
	 background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
	background:linear-gradient(#FAA20E, #E7833B);
	position: absolute;
	width: 100vw;
}
footer .logo{
	margin-top: 50px;  
}
.footerlist{
	color: #fff;
	margin-top: 50px;
	float: left;
	list-style: none;
}

.footerlist a{
	color: #fff;
}
.CopyrightText{
	font-size: 12px;
	color: #FFF;
}

/* about Movie */
.moviebanner{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	margin-top: 0px;
	z-index: 2;
	width: 100vw;
}
.moviebanner img{
	width: 100%;
}
.glitter{
  -ms-transform: skew(0deg,-5deg);
  -webkit-transform: skew(0deg,-5deg);
  transform: skew(0deg,-5deg);
  	background-color: #fff;
	
}
.skew{
	position: absolute;
	top: -128px;
  	width:100vw;
  	height: 260px;
  	background-color: #F2ECE7;
}
.main{
	margin-top: 390px;
	z-index: 50;
}
#moviepic{
	height: 556px;
}
.round{
	display: inline-block;
	background: #E7833B;
	height:80px; 
	width: 80px;
	padding: 17px;
	border-radius: 50%;
}
.stills{
	width: 221px;
	height: 221px;
	background-color: blue;
	margin: 2px;
	display: block;
	}
.still{
	display: block;
}
.plot{
	display: block;
}

/*----------------------------------------forsíða------------------------*/
.container {
	height: 600px;
}
	
.slider {
    width: 100%; 
}
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
  	width: 100%
}
.container div h2 {
	padding-left: 70px;
}

/*#textbox  {
	background: #fff;
	opacity: 0.2;
	z-index: 50;
}*/
  


@media print, screen and (max-width: 400px) {

	.navbar{
		height: 200px;
	}
	/*.navbarhide{
		display: none;
	}*/
	.logo{
		height: 42px;

	}
	.search{
		font-size: 20px;
	}
	#close{
		font-size: 20px;
	}
	.welcometext{
		padding-top: 30px;
	}
	footer{
		height: 150px;
	}
	footer .logo{
	margin-top: 25px;  
	}
	.footerlist{
		font-size: 9px;
		margin-top: 25px;
	}
	.CopyrightText{
		font-size: 7px;
	}
	.main{
	margin-top: -35px;
	}
	.skew{
	top: -20px;
	}
	#moviepic{
		height: 225px;
	}
	.round{
		height:40px; 
		width: 40px;
		padding: 7px;
	}
	.stills{
		display: none;
	}
	.still{
		display: none;
	}
	.plot{
		display: none;
	}
	 .slider {
        width: 100%;
        margin: 100px auto;
        background-color: #fff; 
    }
 }
