img{
	width: 100%;
	height: 100%;
}
.navbar{
	background-color: #FAA20E;
	height: 480px;
	padding-top: 27px;
}
.logo{
	height: 105px;
}
.search{
	height:51px;
	width: 51px;
}

.welcometext{
	padding-top: 100px;
	text-align: center;
}